/* GENERAL */

body {
  margin: 0;
  font-family: "Segoe UI";
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

ul {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* HEADER */

nav ul li {
  display: inline-block;
  padding: 30px;
}

nav ul {
  float: right;
  background-color: #dee2e2;
  margin-top: 30px;
  width: 50%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid #b5b5b5;
  z-index: 1000;
  height: 140px;
}

.header-spacer {
  width: 100%;
  height: 140px;
}

header img {
  float: left;
  height: 120px;
  padding: 10px;
}

.navbtn:hover {
  color: #b5b5b5;
  padding-top: 25px;
  -webkit-transition: border-top 0.5s;
  -moz-transition: border-top 0.5s;
  -o-transition: border-top 0.5s;
  transition: border-top 0.5s;
  border-top-width: 5px;
  border-top-color: #7C8CF4;
  border-top-style: solid;
}

#clicked {
  padding-top: 25px;
  font-weight: bold;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #7C8CF4;
}

/* BODY - TITLE/SUBTITLE */

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 35px;
  color: #ffc55b;
}

/* BODY - GENERAL */

.mainbody {
  clear: both;
  padding-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  min-height: calc(100vh - 221px);
}

.columns {
  display: flex;
}

.subheading {
  font-size: 25px;
  flex-basis: 20%;
}

.subheading-link {
  font-size: 20px;
  flex-basis: 20%;
}

.subheading-link-content {
  font-size: 20px;
  flex-basis: 80%;
}

.subheading-content {
  padding-top: 5px;
  font-size: 20px;
  flex-basis: 80%;
}

.spacer {
  width: 100%;
  height: 30px;
}

.border {
  border: 1px solid #b5b5b5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.link {
  font-weight: 700;
}

.link:hover {
  color: #b5b5b5;
  border-bottom: 5px solid #7C8CF4;
  -webkit-transition: border-bottom 0.5s, color 0.3s;
  -moz-transition: border-bottom 0.5s, color 0.3s;
  -o-transition: border-bottom 0.5s, color 0.3s;
  transition: border-bottom 0.5s, color 0.3s;
  cursor: pointer;
}

/* FOOTER */

#footer-fblogo {
  margin-left: 10px;
  border-radius: 50%;
  background-color: #3b5998;
  margin-top: 2px;
  height: 38px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#footer-fblogo:hover {
  background-color: #5d8df4;
}

#footer-phoneicon {
  height: 30px;
  padding-left: 15px;
  padding-top: 8px;
}

footer {
  width: 100%;
  border-top: 1px solid #b5b5b5;
  padding-left: 100px;
  background: #dee2e2;
  padding-top: 5px;
  margin-top: 10px;
  height: 45px;
}

#footer-connect {
  font-size: 15px;
  padding-top: 10px;
  color: black;
}

#footer-contact {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 100px;
  color: black;
}

#footer-phonenumber {
  font-size: 15px;
  padding-top: 10px;
  color: black;
  padding-left: 10px;
}

/* PAGE SPECIFIC */

.doctor-img {
  width: 150px;
  height: 150px;
  margin-right: 77px;
  margin-top: 5px;
}

.doctor-subheading {
  font-size: 25px;
}

#goToSubPage, #goToSubPageTwo, #goToSubPageThree {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: white;
  margin-left: -6px;
}

#goToSubPage:focus, #goToSubPageTwo:focus, #goToSubPageThree:focus {
  outline: none;
}

#goToSubPage::after, #goToSubPageTwo::after, #goToSubPageThree::after {
  content: " >";
}

.goBack {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: white;
}

.goBack:hover, #goToSubPage:hover, #goToSubPageTwo:hover, #goToSubPageThree:hover {
  color: #b5b5b5;
  border-bottom: 5px solid #7C8CF4;
  -webkit-transition: border-bottom 0.5s, color 0.3s;
  -moz-transition: border-bottom 0.5s, color 0.3s;
  -o-transition: border-bottom 0.5s, color 0.3s;
  transition: border-bottom 0.5s, color 0.3s;
  cursor: pointer;
}

.goBack:focus {
  outline: none;
}

.goBack::before {
  content: "< ";
}

#well-exam-schedule-table {
  border-collapse: collapse;
  width: 100%;
}

#well-exam-schedule-table, #well-exam-schedule-table th, #well-exam-schedule-table td {
  border-bottom: 1px solid #7C8CF4;
}

#well-exam-schedule-table tr:hover {
  background-color: #dee2e2;
}

#well-exam-schedule-table tr, #well-exam-schedule-table th, #well-exam-schedule-table td {
  padding: 10px;
}

.col1 {
  width: 20%;
  border-right: 1px solid #7C8CF4;
}

.col2 {
  width: 80%;
}

/* TRANSITIONS */

#mainSlideContent {
  position: static;
  width: 100%;
  opacity: 1;
  margin-left: 0;
  -moz-transition: margin-left 1s, opacity 1s;
  -webkit-transition: margin-left 1s, opacity 1s;
  -o-transition: margin-left 1s, opacity 1s;
  transition: margin-left 1s, opacity 1s;
}

#mainSlideContent.slideLeft, #mainSlideContent.slideLeftTwo, #mainSlideContent.slideLeftThree {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin-left: -150%;
}

#subSlideContent, #subSlideContentTwo, #subSlideContentThree {
  opacity: 0;
  top: 150px;
  width: 85%;
  position: absolute;
  margin-left: 150%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#subSlideContent.slideLeft, #subSlideContentTwo.slideLeftTwo, #subSlideContentThree.slideLeftThree {
  position: static;
  top: 150px;
  width: 85%;
  opacity: 1;
  margin-left: 0;
}

.fadein {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.fadeinSecond {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  transition-delay: 600ms;
}

.fadeinThird {
  opacity: 0;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  transition-delay: 1200ms;
}

.loaded .fadein, .loaded .fadeinSecond, .loaded .fadeinThird {
  opacity: 1;
}
